<ion-header class="ion-no-border">
	<ion-toolbar color="primary" class="productHeader">
        <ion-title class="centered-p">Challenge TV</ion-title>
<!-- 		<ion-buttons slot="end">
			<ion-button >
                <ion-icon (click)="notification()" color="light" name="search-outline"></ion-icon>
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="video-list" no-padding mode="md" *ngFor="let info of principal">
    <div class="container" (click)="viewVideo(info.link)">
        <img [src]="info.image" alt="Chargement lent! Veuillez verifier votre connexion" style="width:100%;">
        <div class="text-block">
            <div color="primary" class="inner">
                <ion-icon name="play"></ion-icon> 
              <b>Challenge TV</b><br/>Cliquez ici pour lire la video
               
              </div>
        </div>
      </div> 
    <div class="details">
      <div class="title-block">
        <div class="title">{{info.title}}</div>
        <div class="extra">
            {{info.shortDescription}}
        </div>
      </div>
    </div>
  </div>
</ion-content>