<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="notification()" class="bordered" fill="solid" color="light">
				<ion-icon (click)="notification()" color="primary" name="notifications"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
            <img src="../../assets/user.svg">
    </ion-avatar>
			<ion-label>
				<p>{{ 'chaines.hll' | translate }}</p>
				<h3>Michel  TANGA</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>
    <ion-grid padding>
        <ion-row>

            <ion-col>
                <ion-card class="services" (click)="mont()">
                    <ion-card-content>
                        <div class="centered text-center">
                            <ion-thumbnail>
                                <img src="../../assets/send.svg">
                            </ion-thumbnail>
                            <ion-label class="labess">{{ 'chaines.mont' | translate }}</ion-label>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="services" (click)="cred()">
                    <ion-card-content>
                        <div class="centered text-center">
                            <ion-thumbnail>
                                <img src="../../assets/airtime.svg">
                            </ion-thumbnail>
                            <ion-label class="labess">{{ 'chaines.cred' | translate }}</ion-label>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-card class="services" (click)="charge()">
                    <ion-card-content>
                        <div class="centered text-center">
                            <ion-avatar>
                                 <img src="../../assets/charge.svg">
                            </ion-avatar>
                            <ion-label class="labess">{{ 'chaines.charge' | translate }}</ion-label>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="services" (click)="ask()">
                    <ion-card-content>
                        <div class="centered text-center">
                            <ion-avatar>
                                 <img src="../../assets/ask.svg">
                            </ion-avatar>
                            <ion-label class="labess">{{ 'chaines.askf' | translate }}</ion-label>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="services" (click)="depot()">
                    <ion-card-content>
                        <div class="centered text-center">
                            <ion-avatar>
                                 <img src="../../assets/depot.svg">
                            </ion-avatar>
                            <ion-label class="labess">{{ 'chaines.depot' | translate }}</ion-label>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="services" (click)="wallet()">
                    <ion-card-content>
                        <div class="centered text-center">
                            <ion-avatar>
                                <img src="../../assets/histo.svg" width="20px">
                            </ion-avatar>
                            <ion-label class="labess">{{ 'chaines.histo' | translate }}</ion-label>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>