<ion-header class="ion-no-border">
	<ion-toolbar>


		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light">
				<ion-icon color="primary" name="create"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
		<img src="../../assets/user.svg">
    </ion-avatar>
			<ion-label>
				<p>{{ 'chaines.hll' | translate }}</p>
				<h3>Michel  TANGA</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">{{ 'chaines.addr' | translate }}</ion-card-title>
            <ion-card-subtitle class="ion-text-left">Makepe - Douala, Littoral- Cameroun</ion-card-subtitle><br>
            <ion-card-title class="ion-margin-bottom">Contact</ion-card-title>
            <ion-card-subtitle class="ion-text-left">+237 674717852</ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left">hello@micheltanga.com</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>