
<ion-header class="ion-no-border">
	<ion-toolbar color="primary" class="productHeader">
        <ion-title class="centered-p">Activités du PDG</ion-title>
<!-- 		<ion-buttons slot="end">
			<ion-button >
                <ion-icon (click)="notification()" color="light" name="search-outline"></ion-icon>
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <ion-slides pager="true" #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <ion-slide pager="true"  *ngFor="let item of principal1">
          <ion-card class="welcome-card">
              <img src="{{item.image}}" alt="" />
              <ion-card-header>
                  <ion-card-subtitle class="title" text-justify><span class="category"><strong>{{item.idTypeArticle}} </strong> :  </span>  {{item.title}}</ion-card-subtitle>
                </ion-card-header>
            <ion-card-content>
                <p text-justify>{{item.shortDescription}}</p>
            </ion-card-content>
          </ion-card>
      </ion-slide>
    </ion-slides>
   
<!--     <ion-item class="category">
        
            Mes éditoriaux
       
    </ion-item>
    <ion-card class="welcome-card" (click)="showDetail(info.idArticle)" *ngFor="let info of principal">
        <ion-card-header>
            <ion-card-subtitle class="title" text-justify><span class="category">{{info.idTypeArticle}} : </span>  {{info.title}}</ion-card-subtitle>
          </ion-card-header>
          <img src="{{info.image}}" alt="" />
      <ion-card-content>
        <p text-justify>{{info.shortDescription}}</p>
      </ion-card-content>
      <p (click)="showDetail(info.idArticle)"  class="title" text-right>Lire la suite...</p>
    </ion-card>   -->
</ion-content>
